/* Mobile CSS */

/* About section */
#about {
    flex-direction: column;
    align-items: center;
}
#about .pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Skills section */
#skills, .skill-list {
    flex-direction: column;
}
.skill-list {
    flex: 1;
    padding: 20px 10px;
    font-size: 30px;
}

/* Portfolio */
#portfolio {
    display: flex;
    flex-direction: column;
}
.portfolio-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding: 20px;
}
.portfolio-image {
    display: flex;
    width: 100%;
    border-radius: 50%;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.portfolio-details {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.portfolio-list a{
    border-radius: 20px;
    width: 50px;
    text-decoration: none;
    background-color: green;
}
.border-bt{
    border-bottom: 2px solid white;
}
/* Navbar */
.menu .logo {
    margin-right: auto;
}
.menu a {
    padding: 3px;
}

.item {
    padding: 3px;
    margin-top: 10px;
}
