* {
    margin: 0;
    padding: 0;
    font-family:'Baloo Tamma 2', cursive;;
    box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* nav bar */
a,
a:hover,
a:active,
button {
  outline: none;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
}

.navbar {
  background: #251f44;
  box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-align {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.navbar button {
  display: none;
}

/* Hamburger Menu */

.hamburger {
  margin: 0;
  border: 0;
  background-color: transparent;
  position: relative;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  display: block;
  border-radius: 2px;
  position: absolute;
}

.hamburger-inner {
  top: 50%;
}
.hamburger-inner:before {
  content: '';
  top: -10px;
}
.hamburger-inner::after {
  content: '';
  bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.navbar ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  align-items: center;
  transition: all ease-in 300ms;
}
.navbar .logo {
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  margin-right: auto;
}
.navbar a {
  color: white;
  white-space: nowrap;
}

.nav-item:not(:last-of-type) {
  margin-right: 10px;
}

.navbar .nav-link {
  transition: all ease-in 300ms;
  border-radius: 5px;
  padding: 5px 10px;
}

.navbar .nav-link:hover {
  background-color: #0c0c0c;
  transition: all ease-out 300ms;
}

.navbar .nav-link:active,
.nav-link:focus {
  color: #ffe709;
  background-color: #0c0c0c;
  transition: all ease-out 300ms;
}

@media (max-width: 768px) {
  .navbar button {
    display: inline-block;
  }
  .nav-align {
    align-items: baseline;
  }
  .nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-collapse {
    height: 0px;
    overflow: hidden;
    transition: height ease-in 300ms;
  }
  .navbar ul {
    display: block;
  }

  .navbar-collapse.show {
    display: flex;
    max-height: 350px;
    transition: max-height ease-out 500ms;
  }

  .navbar .nav-link {
    font-size: 20px;
  }

  .container {
    max-width: 740px;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 100%;
  }
}



#about {
    width: 100%;
    background: #f6ab6c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 100px 30px;
    color: white;
}
.about-me{
    order:2;
    flex: 2 1 0;
}

.pic {
    order: 1;
    flex: 1 1 0;
    
}

.pic img {
    border-radius: 50%;
}
#introduction {
    width: 100%;
    height: 600px;
    background: url(./image/code.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    font-style: italic;
    color: white;
    font-weight: bold;
}

.line {
    height: 2px;
    background: #df5e88;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.about-me h2 {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 5px;
    padding-top: 5px;
    font-weight: 600;
    color: #111111;
    text-align: center;
}

.about-me a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    background: #df5e88;
    margin-top: 20px;
    width: 160px;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    text-decoration: none;
}
/* Skills */
.skills {
    width: 100%;
    background: #8fcfd1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
.skill-list {
    flex: 1;
    padding: 100px 20px;
    font-size: 30px;
}

.stats {
    width: 100%;
    background: #df5e88;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}



/* Portfolio CSS */
#portfolio {
    background: #f6ab6c;
    padding-top: 50px;
}
#portfolio .link-p {
    padding-left: 200px;
}
.portfolio-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
#portfolio img {
    width: 70%;
    border-radius: 50%;
}
.port {
    text-align: center;
    display: block;
    padding: 10px 15px;
    font-size: 4em;
}
#portfolio a {
    display: inline-block;
    background-color: #df5e88;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    color: white;
    text-align: center;
    
}

hr { 
    display: block; 
    margin-top: 0.5em; 
    margin-bottom: 0.5em; 
    margin-right: auto; 
    margin-left: auto; 
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px;
    color:white;
}

/* Testimonials */
.heading {
    text-align: center;
    color: #454343;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.white-heading{
    color: #ffffff;
}
.heading:after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 40px;
    width: 180px;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url(img/heading-line.png);
    background-repeat: no-repeat;
    background-position: center;
}
.white-heading:after {
    background: url(https://i.ibb.co/d7tSD1R/heading-line-white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.heading span {
    font-size: 18px;
    display: block;
    font-weight: 500;
}
.white-heading span {
    color: #ffffff;
}

.testimonial {
    min-height: 375px;
    position: relative;
    background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center;
        background-size: cover;
}

.testimonial_main{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  margin: auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.testimonial_main img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
}
.testimonial_main p {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
}
.testimonial_main h4 {
  color: #ffffff;
  font-size: 22px;
}
/* Contact Form CSS*/
#contact {
    width: 100%;
    background: #8fcfd1;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}
.ccontainer {
    border-radius: 5px;
    background-color:inherit;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type=text], input[type=email], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
  

input[type=submit] {
    background-color: rgb(129, 151, 130);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  

input[type=submit]:hover {
    background-color: #df5e88;
}
  
#contact h1 {
    text-align: center;
    display: block;
    padding: 10px 5px;
    font-size: 2em;
}
#contact .fa {
    padding: 20px;
    font-size: 35px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 10px 5px;
  }
  
  #contact .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }  
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-github {
    background: black;
    color: white;
}
/* footer */
#footer input[type=text], #footer input[type=email] {
    width: 33.33%; 
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-sizing: border-box; 
    resize: vertical 
}

#footer input[type=submit]:hover {
    background-color: #df5e88;
}
.subscribe {
    flex: 1;
    padding: 50px 20px;
    font-size: 30px;
}

input[type=submit]:hover {
    background-color: #8fcfd1;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

